[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "bioRad"]
	path = bioRad
	url = https://github.com/adokter/biorad
	shallow = true
	registered = true
[submodule "vol2birdR"]
	path = vol2birdR
	url = https://github.com/adokter/vol2birdR
	shallow = true
	registered = false
