[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bioRad"]
	path = bioRad
	url = https://github.com/adokter/biorad
[submodule "vol2birdR"]
	path = vol2birdR
	url = https://github.com/adokter/vol2birdr
[submodule "suntools"]
	path = suntools
	url = https://github.com/adokter/suntools
	registered = false
